@{
  Layout = "_Layout";
}

<h1>Welcome to Trip Advisor</h1>

<div class="icons">
  <ul class="horizontal-bar">
    <li><a href="/Attractions">Attractions</a>   <i class="fas fa-map-marked-alt"></i></li>
    <li><a href="/Activities">Activities</a>   <i class="fas fa-walking"></i></li>
    <li><a href="/Foods">Food</a>   <i class="fas fa-utensils"></i></li>
  </ul>
</div>
