@{
  Layout = "_Layout";
}

<h1>Welcome to Trip Advisor</h1>

<ul class="horizontal-bar">
  <li><a href="/Attractions">Attractions</a></li>
  <li><a href="/Activities">Activities</a></li>
  <li><a href="/Foods">Food</a></li>
</ul>
