body {
  text-align: center;
  background: url('/img/world_1.jpg') no-repeat center fixed;
  background-size: cover;
  font-size: 2em;
}

h1 {
  text-align: center;
}

#navbar {
  text-align: left;
  list-style-type: none;
  position: fixed;
  top: 2%;
  right: 2%;
}

.horizontal-bar {
  list-style-type: none;
  margin: auto;
}

.horizontal-bar li {
  display: inline-block;
  padding: 1% 5% 1% 5%;
}

.no-bullet {
  list-style-type: none;
}

.bg-panel {
  background-color: rgba(255, 255, 255, 0.6);
  width: 90%;
  height: 90%;
  padding: 1%;
}
