@{
  Layout = "_Layout";
}

<div class="bg-panel">
  <h1>Food List</h1>

  <ul class="no-bullet">
    @foreach (var food in Model)
    {
      <li><a href="/Foods/@food.GetId()/edit">@food.GetName()</a></li>
    }
  </ul>
</div>
