@{
  Layout = "_Layout";
}

<h1>Add Activities</h1>

<form action="/Activities" method="post">
  <div class="">
    <label for="activityName">Activity Name:</label>
    <input type="text" name="activityName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/Activities">List of Activities</a></h3>
