<div>
  <ul id="navbar">
    <li><a href="/" class="navbar-style">Home</a></li>
    <li><a href="/Countries" class="navbar-style">Countries</a></li>
    <li><a href="#" class="navbar-style">Search</a></li>
  </ul>
</div>
