@using TripAdvisor.Models
@{
  Layout = "_Layout";
}

<div class="bg-panel">
  <h1>@City.Find(Model[0].GetCityId()).GetName()'s Attraction List</h1>

  <ul class="no-bullet">
    @foreach (var attraction in Model)
    {
      <li><a href="#">@attraction.GetName()</a></li>
    }
  </ul>
</div>
