@using TripAdvisor.Models
@{
  Layout = "_Layout";
}

<div class="bg-panel">
  @if (Model["allCities"].Count == 0)
  {
    <h1>City List</h1>
    <h3>No Record Found</h3>
  }
  else
  {
    <h1>@Model["selectedCountry"].GetName()'s City List</h1>
  }

  <ul class="no-bullet">
    @foreach (var city in Model["allCities"])
    {
      <li><a href="/Cities/@city.GetId()">@city.GetName()</a></li>
    }
  </ul>

  <form class="" action='/Cities/@Model["selectedCountry"].GetId()/Add' method="post">
    <label for="cityName">Enter a new city:</label>
    <input type="text" name="cityName" required>
    <button type="submit">ADD</button>
  </form>
</div>
